.outerbox {
 
    width: 70%;
    display: flex;
    margin: auto;
    padding: 3rem;
    max-width: 124%;
    margin-top: 13rem;
    overflow: scroll;
    box-shadow: 0 1px 34px rgba(0,0,0,.1);
}
 


.wrapper::-webkit-scrollbar {
    display: none;
   
}
